<html>
    <head>
<script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <label>msg:</label><input type="text" id="ch" onkeyup="typing()"><input type="submit" onclick="send()">
        <script>
            const socket=io.connect();
            u=prompt("typing your name")

            socket.on("typing",(data)=>{
                p=document.createElement("p")
                p.innerText=(data+" is typing ....")
                document.body.append(p)
            })

            socket.on("msg",(data)=>{
                p=document.createElement("p")
                p.innerText=(data)
                document.body.append(p)
            })

            x=document.getElementById("ch")
            function send(){
                //console.log("msg"+x.value)
                socket.emit("msg",x.value)
            }

            function typing(){
                //console.log("value : "+u)
                socket.emit("typing",u)
            }


        </script>
    </body>
</html>
