<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<center>
			<label for="">Nom partie</label>
			<input type="text" id="nom">
			<br>
			<label for="">Joueur 1</label>
			<input type="text" id="id1">
			<br>
			<label for="">Joueur 2</label>
			<input type="text" id="id2">
			<br>
			<button onclick="send()">Envoyer</button>
			<button onclick="aff()">Afficher Stat</button>
			<button onclick="test()">Attaque</button>
            <button onclick="counter()">Counter Attaque</button>
		</center>

		<script>
			const socket = io.connect();


socket.on("partie", (data) => {
p = document.createElement("p")
p.innerHTML = ("<center>" + "partie : " + data.nom + "<br>" + "id1 : " + data.id1 + "<br>" + "id2 : " + data.id2 + "</center>")
document.body.append(p)
})
socket.on("attaque", (data) => {

p = document.createElement("p")
p.innerHTML = ("<center>" + "joueur gagnant : " + data + "</center>")
document.body.append(p)
})
socket.on("aff", (data) => {
p = document.createElement("p")
p.innerHTML = (data.j1.pseudo)
document.body.append(p)
})


function send() { // console.log("msg"+x.value)

partie = {
nom: nom.value,
id1: id1.value,
id2: id2.value
}
socket.emit("partie", partie)
}
function test() { // console.log("msg"+x.value)
partie = {
nom: nom.value,
id1: id1.value,
id2: id2.value
}
socket.emit("attaque", partie)
}

function counter() { // console.log("msg"+x.value)
partie = {
nom: nom.value,
id1: id2.value,
id2: id1.value
}
socket.emit("attaque", partie)
}
function aff() {

partie = {
nom: nom.value,
id1: id1.value,
id2: id2.value
}
socket.emit("aff", partie)
}
		</script>
	</body>
</html>
